<center>
<div class="title">
  <h2>
    <%= ("#{@another_entry.user.name}さんとのメッセージ") %>
  </h2>
</div>
<% @messages.each do |m| %>
  <% if m.user_id == current_user.id %>
    <div class="mycomment">
      <p><%= m.body %></p>
    </div>
  <% else %>
    <div class="chatting">
      <p><%= m.body %></p>
    </div>
  <% end %>
<% end %>
<div class="chat-form-box">
  <%= form_for @message do |f| %>
    <table class="chat-form-group">
      <td><%= f.text_field :body %></td>
      <td><%= f.hidden_field :room_id, :value => @room.id %></td>
      <td><%= f.submit "送信する" %></td>
    </table>
  <% end %>
</div>
</center>